  <footer>
    Author:<a href="https://happyjeannie.github.io/">Summer</a> | <a href="https://github.com/HappyJeannie">Github</a> | 2018
  </footer>
  <script src="/js/index.js"></script>
  </body>
</html>