<% include header.ejs %>
<div class="container">
  <div id="content">

  </div>

</div>
<span class="add-note">
  <i class="icon iconfont icon-add"></i>
</span>

<!-- 
  <div class="stars"></div> -->
<% include footer.ejs %>